<section class="table-section">
    <button id="get-button">Get movie List</button>
    <table>
        <thead>
          <tr class="table-row">
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row" *ngFor= "let movie of movieList$ |async">
            <th>{{ movie.title }}</th>
            <th>{{ movie.year }}</th>
            <th>{{ movie.category }}</th>
            <th></th>
          </tr>
        </tbody>
    </table>
</section>
